@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar img {
  width: 150px;
  height: 150px;
}
.navbar-footer-color {
  background-color: #010101;
}
.navbar-nav .nav-link {
  color: #ffba89;
}
.navbar-nav .nav-link:hover {
  color: #2b5d57;
}
.tipe-text {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}
.navbar-toggler-icon {
  background-color: #ffba89;
  border-radius: 5px;
}
.navbar-toggler-icon:hover {
  background-color: #2b5d57;
  border-radius: 5px;
}
.color-fondo {
  background-color: #010101;
}
.color-texto {
  color: #ffba89;
}
.btn-close.btn-color {
  background-color: #ffba89;
  opacity: 1;
  border: none;
  &:hover {
    background-color: #2b5d57;
  }
}
.btn-color-2 {
  background-color: #ffba89;
  border: 2px solid #ffba89;
  font-size: 20px;
  font-weight: 500;
  padding: 0.5em 1.2em;
  position: relative;
  color: #ffba89af(255, 255, 255, 0.9);
  &:hover {
    background-color: #2b5d57;
    border-color: #2b5d57;
    color: #ffba89;
    box-shadow: 0 4px 16px #edfdfa;
    transition: all 0.2s ease;
  }
}
.tamanio {
  img {
    height: 100%;
  }
}
body {
  background-color: #1a1a2e;
}
.btn-primary {
  background-color: #ffba89;
  border: 2px solid #ffba89;
  font-size: 20px;
  font-weight: 500;
  padding: 0.5em 1.2em;
  position: relative;
  color: #ffba89af(255, 255, 255, 0.9);
}
.btn-primary:hover {
  background-color: #2b5d57;
  border-color: #2b5d57;
  color: #ffba89;
  box-shadow: 0 4px 16px #edfdfa;
  transition: all 0.2s ease;
}
.card {
  background-color: #010101;
  border-color: #ffba89;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  box-shadow: 0 4px 16px #ffba89;
}
.color-texto-2 {
  color: #edfdfa;
}
.tipo-texto {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}
.tipo-texto-2 {
  font-family: "Roboto", serif;
  font-weight: 300;
  font-style: normal;
}
.text-hidden {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  transition: max-height 0.3s ease;
  max-height: 12em;
}
.color-busq {
  border: 2px solid #ffba89;
}
.nav-link {
  color: #edfdfa;
  &:hover {
    color: #ffba89;
  }
}
.color-paginac {
  background-color: #ffba89;
  color: #2b5d57;
  border: 1px solid #1a1a2e;
  &:hover {
    background-color: #2b5d57;
    color: #ffba89;
    border: 1px solid #1a1a2e;
  }
}
.color-paginac.active {
  background-color: #2b5d57;
  border-color: #2b5d57;
  color: #ffba89;
}
.logo-footer {
  img {
    width: 200px;
    height: 200px;
  }
}
.footer .nav-link:hover {
  color: #2b5d57;
}
.logo-rotate {
  transition: transform 0.3s ease;
}
.logo-rotate:hover {
  transform: scale(1.2);
}
.facebook-icon {
  color: #1877f2;
}
.instagram-icon {
  color: #e4405f;
}
.twitter-icon {
  color: #1da1f2;
}
.youtube-icon {
  color: #ff0000;
}
.discord-icon {
  color: #5865f2;
}
.mainContacto {
  padding-top: 40px;
  height: 100%;
  background-color: #1a1a2e;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
  color: #edfdfa;
  .btn {
    background-color: #ffba89;
    color: #edfdfa;
    justify-content: center;
    font-weight: 500;
  }
  .btn:hover {
    background-color: #2b5d57;
    color: #edfdfa;
  }
  .formContacto {
    padding: 50px 55px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    label {
      color: #edfdfa;
    }
    a {
      color: #edfdfa;
      text-decoration: none;
      font-weight: 600;
    }
    a:hover {
      color: #2b5d57;
    }
    section {
      input {
        border-radius: 12px;
      }
    }
  }
  iframe {
    width: 350px;
    border: solid 0.2em #ffba89;
    border-radius: 5%;
  }

  .titulo {
    color: #edfdfa;
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
  }
}
.mainGaleria {
  padding-top: 50px;
  height: 100%;
  background-color: #1a1a2e;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
  color: #edfdfa;
  .titulo {
    color: #edfdfa;
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
  }
}
@media (max-width: 700px) {
  .mapa {
    iframe {
      width: 250px;
      height: 250px;
    }
  }

  .imagen {
    width: 250px;
    border: 0.2em solid #ffba89;
    border-radius: 1em;
    box-shadow: 3px 3px 10px #2b5d57;
  }
}
@media (min-width: 700px) and (max-width: 1200px) {
  .mapa {
    iframe {
      width: auto;
      height: 450px;
    }
  }
  .imagen {
    width: 200px;
    border: 0.2em solid #ffba89;
    border-radius: 1em;
    box-shadow: 3px 3px 10px #2b5d57;
  }
  .imagen:hover {
    border: 0.2em solid #2b5d57;
    transition: 0.5s ease-in-out;
  }
}
@media (min-width: 1200px) {
  .mapa {
    iframe {
      width: 600px;
      height: 600px;
    }
  }
  .imagen {
    width: 250px;
    border: 0.2em solid #ffba89;
    border-radius: 1em;
    box-shadow: 3px 3px 10px #2b5d57;
  }

  .imagen:hover {
    border: 0.2em solid #2b5d57;
    transition: 0.5s ease;
    box-shadow: 0px 0px 0px;
  }
}

.color-fondo-sobre-nosotros {
  background-color: #1a1a2e;
}
.titulo {
  font-family: "Poppins", serif;
  font-weight: 325;
  font-style: normal;
  color: #edfdfa;
}
.estilo-img {
  width: 200px;
  height: 200px;
  border: 3px solid #ffba89;
  border-radius: 800px;
  box-shadow: 0 4px 16px #ffba89;
  margin-bottom: 25px;
}
.estilo-img:hover {
  border: 3px solid #2b5d57;
  box-shadow: 0 4px 16px #2b5d57;
  &.scale {
    transform: scale(1.2);
  }
}
.scale {
  transition: transform 0.5s;
}
.parrafo {
  color: #edfdfa;
  font-family: "Roboto", serif;
  font-weight: 900;
  font-size: x-large;
  font-style: normal;
  margin-left: 15px;
}
.color-tarjetas {
  background-color: #010101;
}
.tamanio-tarjetas {
  width: 97vw;
  height: auto;
  padding: 10px;
}
.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 657px) {
  .parrafo {
    color: #edfdfa;
    font-family: "Roboto", serif;
    font-weight: 100;
    font-style: normal;
    font-size: small;
    margin: 5px 0;
  }
  .tamanio-tarjetas {
    width: 93vw;
    height: auto;
    padding: 10px;
  }
  .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .estilo-img {
    margin-bottom: 25px;
  }
  .titulo {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
    font-size: small;
    color: #edfdfa;
  }
  .navbar .navbar-correccion {
    width: 100vw;
  }
}
@media (min-width: 658px) and (max-width: 800px) {
  .navbar .navbar-correccion {
    width: 100vw;
  }
  .tamanio-tarjetas {
    width: 97vw;
    height: auto;
    padding: 10px;
  }
  .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .estilo-img {
    margin-bottom: 25px;
  }
  .parrafo {
    color: #edfdfa;
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
    font-size: medium;
    margin: 5px 0;
  }
}
@media (min-width: 801px) and (max-width: 3000px) {
  .navbar .navbar-correccion {
    width: 100vw;
  } 
}
main {
  margin-top: 150px;
}
.color-texto-inicio-sesion {
  color: #EDFDFA;
}
.main-iniciar-sesion{  
  padding-top: 60px;
  padding-bottom: 30px;  
}
.tipo-texto-1 {
  font-family: "Poppins", serif;
  font-weight: 900;
  font-style: normal;
  font-size: larger;
}
.tipo-texto-2 {
  font-family: "Roboto", serif;
  font-weight: 700;
  font-style: normal;
}
.imagen-iniciar-sesion {
  width: 40vw;
  height: 75vh;  
}
.tamanio-iniciar-sesion {
  width: 40vw;
  height: 75vh;  
}
.btn-facebook {
  background-color: #0866ff;
  border: 2px solid #0866ff;
  font-size: 20px;
  font-weight: 500;
  padding: 0.5em 1.2em;
  position: relative;
  color: white;
}
.btn-facebook:hover {
  background-color: white;
  border-color: white;
  color: #0866ff;
  box-shadow: 0 4px 16px #edfdfa;
  transition: all 0.2s ease;
}
.btn-google {
  background-color: #ea4335;
  border: 2px solid #ea4335;
  font-size: 20px;
  font-weight: 500;
  padding: 0.5em 1.2em;
  position: relative;
  color: white;
}
.btn-google:hover {
  background-color: white;
  border-color: white;
  color: #ea4335;
  box-shadow: 0 4px 16px #edfdfa;
  transition: all 0.2s ease;
} 
.btn-aqui-modal {
  font-family: "Poppins", serif;
  font-weight: 900;
  font-style: normal;
  font-size: large;
  color: #ffba89;
  &:hover {
    color: #2b5d57;
  }
}
@media(min-width:300px) and (max-width: 730px) {
  .main-iniciar-sesion {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;    
  }
  .imagen-iniciar-sesion {
    width: 60vw;
    height: 75vh;
    margin-top: 20px;  
  }
  .tamanio-iniciar-sesion {
    width: 60vw;
    height: 95vh;  
  } 
}