@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar img {
  width: 150px;
  height: 150px;
}
.navbar-footer-color {
  background-color: #010101;
}
.navbar-nav .nav-link {
  color: #ffba89;
}
.navbar-nav .nav-link:hover {
  color: #2b5d57;
}
.tipe-text {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}
.navbar-toggler-icon {
  background-color: #ffba89;
  border-radius: 5px;
}
.navbar-toggler-icon:hover {
  background-color: #2b5d57;
  border-radius: 5px;
}
.color-fondo {
  background-color: #010101;
}
.color-texto {
  color: #ffba89;
}
.btn-close.btn-color {
  background-color: #ffba89;
  opacity: 1;
  border: none;
  &:hover {
    background-color: #2b5d57;
  }
}
.btn-color-2 {
  background-color: #ffba89;
  border: 2px solid #ffba89;
  font-size: 20px;
  font-weight: 500;
  padding: 0.5em 1.2em;
  position: relative;
  color: #ffba89af(255, 255, 255, 0.9);
  &:hover {
    background-color: #2b5d57;
    border-color: #2b5d57;
    color: #ffba89;
    box-shadow: 0 4px 16px #edfdfa;
    transition: all 0.2s ease;
  }
}
.tamanio { 
  img {
    height: 100%;    
  }   
}
<<<<<<< HEAD
=======
body {
  background-color: #1A1A2E;
}
.btn-primary {
  background-color: #FFBA89;
  border: 2px solid #FFBA89;  
  font-size: 20px;
  font-weight: 500;
  padding: 0.5em 1.2em;  
  position: relative;
  color: #ffba89af(255, 255, 255, 0.9);  
}
.btn-primary:hover {
  background-color: #2B5D57;
  border-color: #2B5D57;
  color: #FFBA89; 
  box-shadow: 0 4px 16px #EDFDFA;
  transition: all 0.2s ease;
}
.card {
  background-color: #010101;
  border-color: #FFBA89;
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  text-align: center;
  box-shadow: 0 4px 16px #FFBA89;
}
.color-texto-2 {
  color: #EDFDFA;
}
.tipo-texto {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}
.tipo-texto-2 {
  font-family: "Roboto", serif;
  font-weight: 300;
  font-style: normal;
}
.text-hidden {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  transition: max-height 0.3s ease;
  max-height: 12em;
}
.color-busq {
  border: 2px solid #FFBA89;
}
.nav-link {
  color: #EDFDFA;
  &:hover {
    color: #FFBA89;
  }
}
.color-paginac {
  background-color: #FFBA89;
  color: #2B5D57;
  border: 1px solid #1A1A2E;
  &:hover {
    background-color: #2B5D57;
    color: #FFBA89;
    border: 1px solid #1A1A2E;
  }
}
.color-paginac.active {
   background-color: #2B5D57;
   border-color: #2B5D57;
   color: #FFBA89;
}
.logo-footer {
  img {
    width: 200px;
    height: 200px;
  }
}
.footer .nav-link:hover {
  color: #2b5d57;
}
.logo-rotate {
  transition: transform 0.3s ease;
}
.logo-rotate:hover {
  transform: scale(1.2);
}
.facebook-icon {
  color: #1877f2;
}
.instagram-icon {
  color: #e4405f;
}
.twitter-icon {
  color: #1da1f2;
}
.youtube-icon {
  color: #ff0000;
}
.discord-icon {
  color: #5865f2;
}
>>>>>>> 48fddf7307215842489dc527d8cf80c29f95a0ab
